@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
  overflow-x: hidden;
  width: 100%;
}



a {
  text-decoration: none !important;
  color: inherit !important;
}

.footers {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* .navs,
.footers {
  width: 390px;
  margin: auto;
} */

@media screen and (min-width:500px) {

  .main,
  .footers,
  .chooseNumFooter {
    width: 390px;
    margin: auto;
  }
}





@media screen and (max-width:390px) {

  /* .navs,
  .footers {
    width: 100vw;

  } */


  .btn-close {
    --bs-btn-close-bg: url('./assets/img/clear.png') !important;
  }

  .cursorPointer {
    cursor: pointer;
  }
}